$--black: #000000;
$--white: #ffffff;
$--red: #ff0000;
$--purple: #8a2be2;
$--title-shadow: -1px 2px 0 $--black, 2px 2px 0 $--black, 2px -1px 0 $--black,
  -1px -1px 0 $--black;
$--news-shadow: $--purple -1px 2px 2px;
$--text-shadow: -1px 2px 0 $--black, 2px 2px 0 $--black, 2px -1px 0 $--black,
  -1px -1px 0 $--black;
